@use "colors" as c;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  // height: 100%;
  font-family: "Outfit", sans-serif;
  background-color: c.$clr-dark-blue-main-bg;
}

p {
  font-size: 1.8rem;
}

.container {
  $max-width: 1100px;
  margin: 0 auto;
  width: min($max-width, 100% - 2rem);

}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}
